/* Chat.css */
.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
}

.chat-window {
    width: 100%;
    max-width: 540px;
    height: 75%;
    background-color: #1A1B1F;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1B1F;
    color: #61DAFB;
    padding: 12px 32px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 1rem;
}

.chat-header h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.messages-area {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    overflow: auto;
    -ms-overflow-style: none;
    /* IE 11 */
    scrollbar-width: none;
    /* Firefox 64 */
}

.message-container {
    display: flex;
    margin-bottom: 16px;
}

.user-message {
    justify-content: flex-end;
    text-align: right;
}

.other-message {
    justify-content: flex-start;
    text-align: left;
}

.message-bubble {
    border-radius: 8px;
    padding: 8px 16px;
    max-width: 70%;
}

.user-message .message-bubble {
    background-color: transparent;
    color: white;
}

.other-message .message-bubble {
    background-color: transparent;
    /* color: #61DAFB; */
    color: #bfdbfe;
}

.sender-name {
    font-weight: lighter;
    margin-bottom: 4px;
    font-size: 0.75rem;
}

.message-text {
    margin: 4px 0;
    font-size: 1rem;
    word-wrap: break-word;
    /* Allows long words to be broken */
    overflow-wrap: break-word;
    /* Modern version of word-wrap */
    white-space: normal;
    /* Ensures text wraps */
    max-width: 100%;
    /* Constrains to parent width */
}

.message-time {
    font-size: 0.75rem;
    margin-top: 4px;
}

.user-message .message-time {
    color: #bfdbfe;
}

.other-message .message-time {
    color: #6b7280;
}

.message-input-form {
    /* border-top: 1px solid #e5e7eb; */
    background: #1A1B1F;
    /* background-color: #2C2D31; */
    padding: 16px;
}

.input-container {
    display: flex;
}

.message-textarea {
    flex: 1;
    /* border: 1px solid #d1d5db; */
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 8px 12px;
    resize: none;
}

.message-textarea:focus {
    outline: none;
    /* border-color: #3b82f6; */
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

div.iekbcc0 {
    padding: 0;
    margin: 0;
}

button.iekbcc0:nth-child(1) {
    padding: 0;
    margin: 0;
}
.ju367v1s {
    padding: 0;
    margin: 0;
}

button.iekbcc0:nth-child(2) {
    padding: 0;
    margin: 0;
}

button {
    font-size: 1rem;
}

.send-button {
    background-color: #282c34;
    color: #61DAFB;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    outline: none;
    font-size: 1rem;
}

.send-button:hover {
    background-color: transparent;
    color: #61DAFB
}

/* For better scrolling experience */
.messages-area::-webkit-scrollbar {
    display: none;
}